<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
	<title>首页</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="navigator">
				<div class="left">
				<a class="default" href="index">
					<img class="large_icon" src="static/images/movie_home.png" alt="movies">
				</a>
				</div>
				<div class="right">
					<a class="emphases" href="login">登录</a>
				</div>
			</div>
		</div>
		<div class="section"> New or any things </div>
	</div>
</body>
</html>