{% extends "base.html" %}
{% block title %} {{ user_name }} Home {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
	<h1>Welcom {{ user_name }}'s backstage</h1>
	<button type="button" id="get_movie_json" class="emphases" onclick="httpGetMovieJsonData();">获取json Data</button>
	<div class="section">
		<div class="column">
			<div class="side_bar" id="side_bar">
				<h2>类别</h2>
			</div>
			<div class="right_content">
				<h2>详情</h2>
				<table class="" id="Database_table_content">
					<tr>
						<th>名字</th>
						<th>姓别</th>
						<th>英文名</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}">
		httpGetMovieJsonData();
	</script>
{% endblock %}