{% extends "base.html" %}

{% block title %}
{% if user_name %}
{{ user_name }} Home 
{% else %}
Index
{% endif %}
{% endblock %}

{% block head %}
{{ super() }}

<style>
	html, body {
    max-width: 100%;
    overflow-x: hidden;
	}
</style>

{% endblock %}

{% block content %}
	<h2>最新动态</h2>
	<div class="change_layout">
		<button class="default" id="change_layout">列表显示</button>
	</div>

	<div class="section" id="content_section">

	</div>

	<div>
		<button class="default" id="load_more">加载更多</button>
	</div>

	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
	<script>

	let is_layout_grid = false
	let layout_button = document.getElementById("change_layout");
	if (layout_button.textContent=="列表显示") {
		is_layout_grid = true;
	} else {
		is_layout_grid = false;
	};
	console.log(is_layout_grid)
	document.addEventListener("DOMContentLoaded", function(event) {
		httpGetTheLastUpdateAndUpdateUI(is_layout_grid);
	});


	layout_button.onclick = function() {
		is_layout_grid = !is_layout_grid;
		console.log(is_layout_grid)
  		if (is_layout_grid) {
  			layout_button.textContent = "列表显示"
  		} else {
  			layout_button.textContent = "图片展示"
  		};
  		httpGetTheLastUpdateAndUpdateUI(is_layout_grid);
	};

	let loadMore_button = document.getElementById("load_more");
		loadMore_button.onclick = function() {

		};

	</script>
{% endblock %}
