{% extends "base.html" %}

{% block title %}
{% if user_name %}
{{ user_name }} Home 
{% else %}
Index
{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
	<div class="section">
		<h2>最新动态</h2>

		<div id="last_update_gallery" class="gallery">

			<a  href="login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2872943489.jpg') }}" class="gallery_item">
				<div class="gallery_info_item">
					<p class="title_s gallery_item">血色清晨</p>
					<p class="">1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p686618740.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2873273219.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2873503210.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2873546718.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2873818227.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>

			<a  href="http://127.0.0.1:5000/login" target="_blank" class="default">
				<img alt="" src="{{ url_for('static',filename='images/poster/p2873885713.jpg') }}">
				<div>
					<p>血色清晨</p>
					<p>1992/中国大陆/剧情 犯罪/李少红/赵君 胡亚捷</p>
					<div class="drc-rating drc-subject-info-rating m">
						<span class="drc-rating-stars drc-subject-info-rating-stars m" data-rating="4.0">
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-full m"></span>
						<span class="drc-rating-stars-item drc-rating-stars-item-gray m"></span>
						</span>
						<span class="drc-rating-num">8.0</span>
					</div>
				</div>
			</a>
    	</div>

		<table class="data_content", id="last_update_table">
			<tr>
				<th>电影名</th>
				<th>介绍</th>
				<th>评分</th>
				<th>更新日期</th>
			</tr>

		</table>
	</div>
	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
	<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		httpGetTheLastUpdateAndUpdateUI();
	});
	</script>
{% endblock %}
