{% extends "base.html" %}
{% block title %} {{ user_name }} Home {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
	<div class="section">
		<p id="movie_id_label" style="display: none;">{{ movie_id }}</p>
		<div id="title" class="movie_info_title">
		</div>
		<div class="movie_info">

			<div id="cover" class="movie_info_cover">
			</div>
			<div id="infos" class="movie_info_detail">
			</div>
		</div>
		<div id="intro" class="movie_intro">
			<p class="movie_intro_emphasis">简介: </p>

		</div>

		<div id="comment" class="movie_comment">
			<p class="movie_intro_emphasis">短评: </p>

		</div>

	</div>

	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
	<script>
		let subject_id = ""
		let p_movie_id = document.getElementById("movie_id_label");
		subject_id = p_movie_id.textContent

		document.addEventListener("DOMContentLoaded", function(event) {
			httpGetSubjectDetail(subject_id);
		});

	</script>
{% endblock %}